* {
  margin: 0;
  padding: 0;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 16px;
}


body {
  background-color: #eee;
}

.toTheTop {
	width: 45px;
	height: 45px;
	position: fixed;
	bottom: 10px;
	right: 10px;
	background: grey;
	border-radius: 100%;

}

.toTheTop img {
	width: 80%;
	height: 80%;
	margin: 3px auto 0;
	display: block;
}

header {
  width: 100%;
  height: 650px;
  overflow: hidden;
  position: relative;
}

header nav {
  width: 100%;
  height: 50px;
  background-color: rgb(0, 0, 0);
  position: fixed;
}

.slider-wrapper {
  position: absolute;
  top: 0;
  z-index: -1;
}

.headerImage {
  top: 0;
  width: 100%;
}

.logoMain {
height: 50px;
margin-left: 20px;
}
.emblem {
height: 100px;
margin-left: 15px;
}
.form{
height: 100px;
margin-left:15px;
}


.logoText {
	display: inline-block;
	top: 10px;
	left: 70px;
	color: #eee;
	font-size: 1.3em;
	position: absolute;
}

.headInfo {

  width: 40%;
  height: 100%;
}

div.headInfo p {
  color: #eee;
  text-shadow: 3px 3px 3px #000;
  font-size: 1.3em;
  padding: 50px;
  padding-top: 55px;
  text-align: justify;
}

main {
  width: 100%;
}

.container-btn-nav {
  width: 450px;
  height: 50px;
  float: right;
  text-align: right;
  position: relative;
}

.btn-nav {
  text-decoration: none;
  color: #eee;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 800;
  width: 100px;
  height: 37px;
  display: block;
  float: left;
  padding-top: 13px;
  transition: .3s;
  cursor: pointer;
}

.btn-nav:hover {
  background-color: crimson;
  transition: .3s;
}

.btn-nav-active {
  text-decoration: none;
  color: crimson;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 800;
  width: 100px;
  height: 37px;
  display: block;
  float: left;
  padding-top: 13px;
}

.btn-nav-active:hover {
  cursor: default;
}

.animalsBar {
  position: absolute;
  top: 50px;
  right: 40px;
  display: none;
  z-index: 999;
}

.animalsBar a {
  background-color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  color: #222;
  text-decoration: none;
  padding: 10px;
  width: 100px;
  text-align: center;
  transition: .3s;
}

.animalsBar a:hover {
  background-color: crimson;
  color: #eee;
  transition: .3s;
}

.animalsBar li{
  list-style: none;
}



.infoBoxContainer {
  background: #eee;
  width: 1200px;
  height: 200px;
  margin: 0 auto;
  padding: 60px;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); */
}

.infoBox {
  width: 70%;
  height: 100%;
  display: block;
  float: left;
  background-color: #ddd;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
}

.infoBoxContainer h4 {
  font-size: 2em;
  color: #111;
  margin-left: 10px;
}

.infoBoxContainer p {
  font-size: 1em;
  color: #111;
  text-align: justify;
  margin: 0 10px 10px 10px;
}


.infoBoxButtonContainer {
  display: block;
  height: 100%;
  width: 30%;
  float: left;
}

.btn-1 {
  background: #ddd;
  color: #111;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 30px;
  font-weight: 800;
  width: 250px;
  height: 50px;
  display: block;
  margin: auto;
  margin-top: 70px;
  padding-top: 0px;
  border-radius: 50px;
  transition: .3s;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4);
}

.btn-1:hover {
  background-color:crimson;
  color: #eee;
  transition: .3s;
}


.imageContainer {
  background-image: url("../image/nightCityImage.jpg");
  width: 100%;
  height: 900px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.imageContainer:nth-child(4) {
  background-image: url("../image/forestImage.jpg");
}

.imageContainer:nth-child(6) {
  background-image: url("../image/underwaterImage.jpg");
}
footer {
  width: 100%;
  height: 300px;
  background-color: #e31b23;
color:white;
}

footer img {
  margin: 0 auto;
  display: block;
}

footer ul {
  display: block;
  text-align: center;
  margin-bottom: 60px;

}

footer ul li{
  list-style: none;
  border-left: 1px solid white;
  padding: 3px;
  display: inline-block;
}

footer ul li:first-child {
  border: none;
}

footer p {
  font-size: .8em;
  text-align: center;
}




.sponsor{
  text-align: center
}